  <p><%= comment.content %></p>
<p>Comment from <%= @message.user.email %> <%= time_ago_in_words(@message.created_at) %></p>

 <%= link_to "Edit", edit_message_comment_path(comment.message, comment) %>
  <%= link_to "Delete", message_comment_path(comment.message, comment), mthod: :delete, data: {confirm: "This can't be undone, are you sure?"} %>
